<div class="container">
    <div class="row  justify-content-center">


        <div class="col-md-4" style="margin-left: 120px;">
            <form>
                <h3 style="display: block; background-color: cornflowerblue;">Contact Us</h3>
                <br>
                <div class="form-group">
                    <h6><label for="name">Enter Your Name</label></h6>
                    <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <h6><label for="email">Enter Your EmailId</label></h6>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>

                <div class="form-group">
                    <h6><label for="monumber">Enter Your MobileNumber</label></h6>
                    <input type="text" class="form-control" name="monumber" id="monumber" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>

                <h6>
                    <p>Subscribe to Our Weekly Reviews</p>
                </h6>
                <div class="form-check">
                    <label class="form-check-label">
               <input type="radio" class="form-check-input" name="subs" id="subsyes" value="checkedValue" checked>
               Yes
             </label> &nbsp; &nbsp; &nbsp; &nbsp;

                    <label class="form-check-label">
                <input type="radio" class="form-check-input" name="subs" id="subsno" value="checkedValue" >
                No
              </label>
                </div>

                <br>
                <div class="form-group">
                    <h6><label for="suggestion">Please Give Your feedback</label></h6>
                    <textarea class="form-control" name="suggestion" id="suggestions" rows="5"></textarea>
                </div>

                <input type="Submit" value="Submit" class="btn btn-dark">
            </form>
        </div>
        <div class="col-md-5" id="address">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Visit</h4>
                    <p class="card-text">Lincoln House </p>
                    <p class="card-text">78 Bhulabhai Desai Road </p>
                    <p class="card-text">Mumbai 400 026 </p>
                    <p class="card-text">Phone: (22) 2363-3611 </p>
                    <p class="card-text">Fax: (22) 2363-0350 </p>
                </div>

                <div class="card-body">
                    <h4 class="card-title">Follow us at</h4>
                    <a href="#" class="fa fa-facebook btn btn-primary"></a>

                    <a href="#" class="fa fa-twitter btn btn-primary"></a>

                    <a class="btn btn-primary fa fa-instagram" style="background-color: #ac2bac;" href="#!" role="button"></a>

                    <a class="btn btn-primary fa fa-linkedin" style="background-color: #0082ca;" href="#!" role="button">
                    </a>

                    <a class="btn btn-primary fa fa-google" style="background-color: #dd4b39;" href="#!" role="button"></a>


                    <a class="btn btn-primary fa fa-stack-overflow" style="background-color: #ffac44;" href="#!" role="button"></a>


                    <a class="btn btn-primary fa fa-youtube" style="background-color: #ed302f;" href="#!" role="button"></a>


                    <a class="btn btn-primary fa fa-github" style="background-color: #333333;" href="#!" role="button"></a>
                </div>
            </div>
        </div>
    </div>
</div>