<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="nav nav-tabs nav-stacked bg-dark">
              <a class="nav-link btn btn-dark"   routerLink="add-book" routerLinkActive='active'>Add Book</a>
              <a class="nav-link btn btn-dark" routerLink="delete-book" routerLinkActive='active'>Delete Book</a>
              <a class="nav-link btn btn-dark" routerLink="edit-book" routerLinkActive='active'>Update Book</a>

              <input type="submit" value="LogOut" (click)="logOut()" class="btn btn-dark" style="margin-left: 680px;" >
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
   
</div>
