<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-3">Welcome to the authentication demo!!!!!</h1>
                <p class="lead">Learn how to do authentication</p>
                <hr class="my-2">
                <p>More info</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Learn More</a>
                </p>
            </div>
        </div>
    </div>
</div>