<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:rgb(0, 47, 255)">
    <a class="navbar-brand" routerLink=''>FoodApp</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='delivery' routerLinkActive="active">Delivery</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='dineout' routerLinkActive="active">DineOut</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='nutrition' routerLinkActive="active">Nutrition</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer font-small blue">

 

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <h6>Email:rajat4211joshi@gmail.com</h6>
    <a href="https://mdbootstrap.com/"> zcs360Studios.com</a>
  </div>
  <!-- Copyright -->

 

</footer>