<div class="container">
    <div class="row justify-content-center">
        <h3>Add Movie Here!!!!</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 ">
            <form (ngSubmit)="AddMovie()" [formGroup]='addmovieForm' #refForm=ngForm>
                <div class="form-group">
                    <h6><label for="movieName">Enter Movie Name</label></h6>
                    <input type="text" required class="form-control" name="movieName" formControlName='movieName' id="movieName" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>

                <div class="form-group">
                    <h6> <label for="ratings">Enter Ratings</label></h6>
                    <input type="text" required class="form-control" name="ratings" id="ratings" formControlName='ratings' aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <h6><label for="movieId">Enter MovieId</label></h6>
                    <input type="text" required class="form-control" name="movieId" id="movieId" formControlName='movieId' aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <h6><label for="state">Select language:</label></h6>

                    <select class="form-control" required name='language' id="language" formControlName='language'>
                        <option value="">Select your option</option>
                        <option *ngFor="let lan of languages">{{lan}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <h6><label for="genre">Select Your genre:</label></h6>
                    <select class="form-control" name='genre' id="genre" required formControlName='genre'>
                        <option value="">Select your option</option>
                      <option *ngFor="let gen of genres">{{gen}}</option>
                    </select>
                </div>




                <div class="form-group">
                    <h6><label for="imagePath">Enter ImagePath</label></h6>
                    <input type="text" class="form-control" required name="imagePath" id="imagePath" formControlName='imagePath' aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <h6><label for="ageCriteria">Enter Age Criteria</label></h6>
                    <input type="text" class="form-control" name="ageCriteria" required id="ageCriteria" formControlName="ageCriteria" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>

                <div class="form-group">
                    <h6><label for="description">Enter Description</label></h6>
                    <input type="text" class="form-control" name="description" required id="description" formControlName='description' aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <h6><label for="duration">Enter Duration</label></h6>
                    <input type="text" class="form-control" name="duration" id="duration" formControlName="duration" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <h6><label for="director">Enter Director Name</label></h6>
                    <input type="text" class="form-control" required name="director" id="director" formControlName='director' aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <h6><label for="actor">Enter Actor Name</label></h6>
                    <input type="text" class="form-control" name="actor" required id="actor" formControlName='actor' aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <h6><label for="actress">Enter Actress Name</label></h6>
                    <input type="text" class="form-control" name="actress" required id="actress" formControlName='actress' aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <h6><label for="day">Enter Day and time</label></h6>
                    <input type="datetime-local" class="form-control" name="day" required id="day" formControlName='day' aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <h6><label for="price">Enter Price</label></h6>
                    <input type="text" class="form-control" name="price" required id="price" aria-describedby="helpId" formControlName='price' placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>


                <div formGroupName='theatre'>
                    <div class="form-group">
                        <h6><label for="theatreName">Enter TheatreName</label></h6>
                        <input type="text" class="form-control" name="theatrename" required id="Theatrename" formControlName='theatreName' aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                        <h6><label for="state">Select Your State:</label></h6>
                        <select class="form-control" name='state' id="state" required formControlName='state' #stat>
                            <option value="">Select your option</option>
                      <option *ngFor="let stat of states">{{stat}}</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <h6><label for="city">Select Your City:</label></h6>
                        <select class="form-control" name='city' id="city" (click)="getCities(stat.value)" formControlName='city'>
                            <option *ngFor="let city of cities">{{city}}</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <h6><label for="zipcode">Enter Your Zipcode</label></h6>
                        <input type="text" class="form-control" name="zipcode" required formControlName='zipcode' id="zipcode" required aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Help text</small>
                    </div>
                </div>
                <input type="submit" value="Add Movie" class="btn btn-dark" [disabled]='refForm.invalid'>
            </form>
        </div>



    </div>
</div>