<div class="container">
    <div class="row justify-content-center">
        <h3>Update Movie</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 ">
            <div class="form-group">
                <label for="movieId">Enter MovieId</label>
                <input type="text" class="form-control" name="movieId" id="movieId" [(ngModel)]='movieId' aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
            <input type="submit" value="Edit Movie" class="btn btn-dark" (click)='updateMovie()'>
        </div>

    </div>
</div>
<router-outlet></router-outlet>