<div class="container-fluid" style="background-image: linear-gradient(white,grey);">
    <div class="row justify-content-center" id="heading">
        <h2>Login To Movies360 </h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form (ngSubmit)='logIn()' #refForm=ngForm>
                <div class="form-group">
                    <h5><label for="loginId">Enter Your LoginId</label></h5>
                    <input type="email" class="form-control" email #logid=ngModel required [(ngModel)]='loginId' name="loginId" id="loginId" aria-describedby="helpId" placeholder="ABC@gmail.com">
                    <small id="helpId" *ngIf="logid.invalid && logid.touched">*Plzz Enter Valid EmailId</small>
                </div>
                <div class="form-group">
                    <h5><label for="password">Enter Your password</label></h5>
                    <input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #pass=ngModel required [(ngModel)]='password' name="password" id="password" aria-describedby="helpId" placeholder="8 Digit Password">
                    <small id="helpId" *ngIf="pass.invalid && pass.touched">*Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</small>
                </div>
                <input type="submit" value="LogIn" class="btn btn-warning" [disabled]='refForm.invalid'>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <h6>New Here : <a routerLink="/signup">Register</a></h6>
    </div>
</div>