.card {
    margin-top: 20px;
    border: none;
}

.card-body>img {
    border-radius: 20px;
}

.checked {
    color: orange;
}

.card-body>h4,
h6,
p,
a,
#star {
    margin-left: 30px;
}

.row {
    margin-top: 10px;
}